{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Stranger</h1>
    {% endif %}
</div>
<div>
{% if current_user.can(Permission.WRITE_ARTICLES) %}   {#如果用户所属的角色没有WRITE_ARTICLES权限，则经User.can()方法检查后，不会显示博客文章表单#}
    {{ wtf.quick_form(form) }}
{% endif %}
</div>
{% include "_posts.html" %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}







{# 这个模板中再次使用current——user.is_authenticated函数判断用户是否已经登录。 #}





{#{% extends "base.html" %}#}
{#{% import 'bootstrap/wtf.html' as wtf %}#}
{##}
{#{% block title %}Flasky{% endblock %}#}
{##}
{#{% block page_content %}#}
{#<div class="page-header">#}
{#    <h1>Hello,{% if name %} {{ name }}{% else %} Stranger {% endif %}!</h1>#}
{#    {% if not known %}#}
{#        <p>Pleased to meet you!</p>#}
{#    {% else %}#}
{#        <p>Happy to see you again!</p>#}
{#    {% endif %}#}
{#</div>#}
{#    {{ wtf.quick_form(form) }}#}
{#{% endblock %}#}