{% extends "base.html" %}
{% import '_macros.html' as macros %}

{% block title %}Flasky - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
            From <a href="http://maps.google.com/?q={{ user.location }}" target="_blank">{{ user.location }}</a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_administrator() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>
    <p>{{ user.posts.count() }} blog posts.</p>
    <p>
        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
        {% if not current_user.is_following(user) %}
        <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
        {% else %}
        <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default">Unfollow</a>
        {% endif %}
    {% endif %}
    <a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count() }}</span></a>
    <a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.followed.count() }}</span></a>
    {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
    <span class="label label-default">Follows you</span>
    {% endif %}
    </p>
    <p>
        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
        {% endif %}
    </p>
    </div>
</div>
<h3>Post by {{ user.username }}</h3>
    {% include '_posts.html' %}
{% if pagination %}
    <div>
    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
    </div>
{% endif %}
{% endblock %}

{# name和location字段在同一个<p>元素中渲染，只有至少定义了这两个字段中的一个时，<p>元素才会被创建。
用户的location字段会被渲染成指向谷歌地图的查询链接。
如果登录用户是管理员的话，那么显示用户的电子邮件地址，且渲染成mailto链接。#}

{# 大多数用户都希望能够轻松地访问自己的资料页面，因此我们可以在导航条中添加一个链接,对于base进行修改>> #}


{# 如果用户查看一个尚未关注的资料页,页面要显示一个"Follow"(关注)的按钮. 如果查看已关注的用户资料页,则显示"Unfollow " (取消关注)按钮.而且页面中.
最好能显示出关注者和被关注者的数量.再列出关注和被关注者的列表. 并在相应的用户页显示'follows you'(关注了你)标志. #}